body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    line-height: 1.42857143;
    color: #333;
    background-color:thistle;
}

.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #eee;
    background-image: url('https://www.nationalgeographic.com/content/dam/magazine/rights-exempt/2020/01/microbiome/microbiome-escherichia-coli-sem-oeggerli.adapt.1900.1.jpg');
}

